0) Извлечение данных

In [369]:
import pandas as pd

bike_data_df = pd.read_csv("BikeData.csv", sep=',')
bike_data_df.columns = bike_data_df.columns.str.strip()

bike_data_df

,Date,Hour,Temperature,Humidity,Wind speed,Rainfall,Snowfall,Seasons,Holiday,Functioning Day,Partner 1,Partner 2
0,01/12/2017,0,-5.2,37,2.2,0.0,0.0,Winter,No Holiday,Yes,207,50
1,01/12/2017,1,-5.5,38,0.8,0.0,0.0,Winter,No Holiday,Yes,139,80
2,01/12/2017,2,-6.0,39,1.0,0.0,0.0,Winter,No Holiday,Yes,22,140
3,01/12/2017,3,-6.2,40,0.9,0.0,0.0,Winter,No Holiday,Yes,43,105
4,01/12/2017,4,-6.0,36,2.3,0.0,0.0,Winter,No Holiday,Yes,59,38
...,...,...,...,...,...,...,...,...,...,...,...,...
8755,30/11/2018,19,4.2,34,2.6,0.0,0.0,Autumn,No Holiday,Yes,467,177
8756,30/11/2018,20,3.4,37,2.3,0.0,0.0,Autumn,No Holiday,Yes,296,63
8757,30/11/2018,21,2.6,39,0.3,0.0,0.0,Autumn,No Holiday,Yes,571,665
8758,30/11/2018,22,2.1,41,1.0,0.0,0.0,Autumn,No Holiday,Yes,171,457
8759,30/11/2018,23,1.9,43,1.3,0.0,0.0,Autumn,No Holiday,Yes,442,401

1) Создайте новую переменную Total_count, в которую записать общее количество
арендованных велосипедов за каждый час.

In [370]:
bike_data_df["Total count"] = bike_data_df["Partner 1"] + bike_data_df["Partner 2"] 

bike_data_df

,Date,Hour,Temperature,Humidity,Wind speed,Rainfall,Snowfall,Seasons,Holiday,Functioning Day,Partner 1,Partner 2,Total count
0,01/12/2017,0,-5.2,37,2.2,0.0,0.0,Winter,No Holiday,Yes,207,50,257
1,01/12/2017,1,-5.5,38,0.8,0.0,0.0,Winter,No Holiday,Yes,139,80,219
2,01/12/2017,2,-6.0,39,1.0,0.0,0.0,Winter,No Holiday,Yes,22,140,162
3,01/12/2017,3,-6.2,40,0.9,0.0,0.0,Winter,No Holiday,Yes,43,105,148
4,01/12/2017,4,-6.0,36,2.3,0.0,0.0,Winter,No Holiday,Yes,59,38,97
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8755,30/11/2018,19,4.2,34,2.6,0.0,0.0,Autumn,No Holiday,Yes,467,177,644
8756,30/11/2018,20,3.4,37,2.3,0.0,0.0,Autumn,No Holiday,Yes,296,63,359
8757,30/11/2018,21,2.6,39,0.3,0.0,0.0,Autumn,No Holiday,Yes,571,665,1236
8758,30/11/2018,22,2.1,41,1.0,0.0,0.0,Autumn,No Holiday,Yes,171,457,628
8759,30/11/2018,23,1.9,43,1.3,0.0,0.0,Autumn,No Holiday,Yes,442,401,843

2) Удалите ряды Partner 1 и Partner 2

In [371]:
bike_data_df = bike_data_df.drop(columns=["Partner 1", "Partner 2"])

bike_data_df

,Date,Hour,Temperature,Humidity,Wind speed,Rainfall,Snowfall,Seasons,Holiday,Functioning Day,Total count
0,01/12/2017,0,-5.2,37,2.2,0.0,0.0,Winter,No Holiday,Yes,257
1,01/12/2017,1,-5.5,38,0.8,0.0,0.0,Winter,No Holiday,Yes,219
2,01/12/2017,2,-6.0,39,1.0,0.0,0.0,Winter,No Holiday,Yes,162
3,01/12/2017,3,-6.2,40,0.9,0.0,0.0,Winter,No Holiday,Yes,148
4,01/12/2017,4,-6.0,36,2.3,0.0,0.0,Winter,No Holiday,Yes,97
...,...,...,...,...,...,...,...,...,...,...,...
8755,30/11/2018,19,4.2,34,2.6,0.0,0.0,Autumn,No Holiday,Yes,644
8756,30/11/2018,20,3.4,37,2.3,0.0,0.0,Autumn,No Holiday,Yes,359
8757,30/11/2018,21,2.6,39,0.3,0.0,0.0,Autumn,No Holiday,Yes,1236
8758,30/11/2018,22,2.1,41,1.0,0.0,0.0,Autumn,No Holiday,Yes,628
8759,30/11/2018,23,1.9,43,1.3,0.0,0.0,Autumn,No Holiday,Yes,843

3) Преобразуйте переменную Date к стандартной форме (to_datetime).

In [372]:
bike_data_df["Date"] = pd.to_datetime(bike_data_df["Date"], errors="coerce", format="%d/%m/%Y")

bike_data_df

,Date,Hour,Temperature,Humidity,Wind speed,Rainfall,Snowfall,Seasons,Holiday,Functioning Day,Total count
0,2017-12-01,0,-5.2,37,2.2,0.0,0.0,Winter,No Holiday,Yes,257
1,2017-12-01,1,-5.5,38,0.8,0.0,0.0,Winter,No Holiday,Yes,219
2,2017-12-01,2,-6.0,39,1.0,0.0,0.0,Winter,No Holiday,Yes,162
3,2017-12-01,3,-6.2,40,0.9,0.0,0.0,Winter,No Holiday,Yes,148
4,2017-12-01,4,-6.0,36,2.3,0.0,0.0,Winter,No Holiday,Yes,97
...,...,...,...,...,...,...,...,...,...,...,...
8755,2018-11-30,19,4.2,34,2.6,0.0,0.0,Autumn,No Holiday,Yes,644
8756,2018-11-30,20,3.4,37,2.3,0.0,0.0,Autumn,No Holiday,Yes,359
8757,2018-11-30,21,2.6,39,0.3,0.0,0.0,Autumn,No Holiday,Yes,1236
8758,2018-11-30,22,2.1,41,1.0,0.0,0.0,Autumn,No Holiday,Yes,628
8759,2018-11-30,23,1.9,43,1.3,0.0,0.0,Autumn,No Holiday,Yes,843

4) Определите сколько велосипедов было выдано в день, месяц и число которого
совпадает с днем выполнения этого задания. Определите, какой это был день недели.

In [373]:
from datetime import datetime

current_date = pd.to_datetime(datetime.today(), format="%d/%m/%Y")

date_mask = (bike_data_df["Date"].dt.day == current_date.day) & (bike_data_df["Date"].dt.month == current_date.month)
today_trimmed_df = bike_data_df[date_mask]

today_trimmed_df

total_bikes_by_current_date_df = pd.DataFrame([{
    "Date": current_date.date(),
    "Day_of_week": today_trimmed_df["Date"].dt.day_name().iloc[0],
    "Total_Bikes": today_trimmed_df["Total count"].sum()
}])

total_bikes_by_current_date_df

         Date Day_of_week  Total_Bikes
0  2025-11-18      Sunday        15320

5) Перекодируйте категориальную переменную Functioning Day(рабочий
или нерабочий день) в переменную типа boolean, т.е. "Yes"=True и "No" = False. Выведите
количество нерабочих дней ( не часов ). День считается нерабочим, если пункт выдачи
велосипедов работал менее 12 часов.

In [374]:

bike_data_df["Functioning Day"] = bike_data_df["Functioning Day"] == "Yes"

all_pseudo_working_days = bike_data_df.groupby(bike_data_df["Date"].dt.date)["Functioning Day"].sum()

actual_working_days_count = all_pseudo_working_days[all_pseudo_working_days < 12].count()
actual_working_days_count

np.int64(12)

6) Перекодируйте переменную Holiday (являлся ли день праздничным) в 0, если
No Holiday, и 1, если Holiday. (используйте анонимную функцию lambda).

In [375]:
bike_data_df["Holiday"] = bike_data_df["Holiday"].apply(lambda val: True if val == "No Holiday" else False )

bike_data_df

,Date,Hour,Temperature,Humidity,Wind speed,Rainfall,Snowfall,Seasons,Holiday,Functioning Day,Total count
0,2017-12-01,0,-5.2,37,2.2,0.0,0.0,Winter,True,True,257
1,2017-12-01,1,-5.5,38,0.8,0.0,0.0,Winter,True,True,219
2,2017-12-01,2,-6.0,39,1.0,0.0,0.0,Winter,True,True,162
3,2017-12-01,3,-6.2,40,0.9,0.0,0.0,Winter,True,True,148
4,2017-12-01,4,-6.0,36,2.3,0.0,0.0,Winter,True,True,97
...,...,...,...,...,...,...,...,...,...,...,...
8755,2018-11-30,19,4.2,34,2.6,0.0,0.0,Autumn,True,True,644
8756,2018-11-30,20,3.4,37,2.3,0.0,0.0,Autumn,True,True,359
8757,2018-11-30,21,2.6,39,0.3,0.0,0.0,Autumn,True,True,1236
8758,2018-11-30,22,2.1,41,1.0,0.0,0.0,Autumn,True,True,628
8759,2018-11-30,23,1.9,43,1.3,0.0,0.0,Autumn,True,True,843

7) Введите новую категориальную переменную Temperature category, которая будет
равна:

"Freezing", если температура < 0;
"Chilly", если 0 <= температура < 15;
"Nice", если 15 <= температура < 26;
"Hot", если 26 <= температура.

In [376]:
def encode_temperature(t):
    if t < 0:
        return "Freezing"
    elif t < 15:
        return "Chilly"
    elif t < 26:
        return "Nice"
    else:
        return "Hot"
    
bike_data_df["Temperature category"] = bike_data_df["Temperature"].apply(lambda t: encode_temperature(t))

bike_data_df

,Date,Hour,Temperature,Humidity,Wind speed,Rainfall,Snowfall,Seasons,Holiday,Functioning Day,Total count,Temperature category
0,2017-12-01,0,-5.2,37,2.2,0.0,0.0,Winter,True,True,257,Freezing
1,2017-12-01,1,-5.5,38,0.8,0.0,0.0,Winter,True,True,219,Freezing
2,2017-12-01,2,-6.0,39,1.0,0.0,0.0,Winter,True,True,162,Freezing
3,2017-12-01,3,-6.2,40,0.9,0.0,0.0,Winter,True,True,148,Freezing
4,2017-12-01,4,-6.0,36,2.3,0.0,0.0,Winter,True,True,97,Freezing
...,...,...,...,...,...,...,...,...,...,...,...,...
8755,2018-11-30,19,4.2,34,2.6,0.0,0.0,Autumn,True,True,644,Chilly
8756,2018-11-30,20,3.4,37,2.3,0.0,0.0,Autumn,True,True,359,Chilly
8757,2018-11-30,21,2.6,39,0.3,0.0,0.0,Autumn,True,True,1236,Chilly
8758,2018-11-30,22,2.1,41,1.0,0.0,0.0,Autumn,True,True,628,Chilly
8759,2018-11-30,23,1.9,43,1.3,0.0,0.0,Autumn,True,True,843,Chilly

8) Создайте новую переменную Good weather, которая будет равна 1 (т.е. хорошая
погода), если:
Temperature category = "Nice",
Humidity в диапазоне от 40 до 60 ,
скорость ветра Wind speed меньше 5.4,
нет дождя (Rainfall)
нет снега (Snowfall).
Определите, сколько процентов наблюдений соответствует хорошей погоде.

In [377]:
cond_mask = (
    (bike_data_df["Temperature category"] == "Nice") &
    (bike_data_df["Humidity"].between(40, 60)) &
    (bike_data_df["Wind speed"] < 5.4) &
    (bike_data_df["Rainfall"] == 0) &
    (bike_data_df["Snowfall"] == 0)
)

bike_data_df["Good_conditions"] = cond_mask

bike_data_df["Good_conditions"].sum() / len(bike_data_df) * 100

np.float64(9.269406392694064)

9) Сгруппируйте данные по сезонам (Seasons), внутри сезона по категории погоды
(Temperature category) и вывести для полученной группировки количество арендованных
велосипедов. Вывести результаты в виде сгруппированной таблицы (через groupby) и в
виде сводной таблицы (pivot_table).

In [378]:
seasons_temperature_group = bike_data_df.groupby(["Seasons", "Temperature category"])["Total count"].sum()

pivot_result = bike_data_df.pivot_table(
    index="Seasons",
    columns="Temperature category",
    values="Total count",
    aggfunc="sum"
)

display(seasons_temperature_group)
display(pivot_result)

Seasons  Temperature category
Autumn   Chilly                   775694
         Freezing                  12035
         Hot                      170674
         Nice                     811498
Spring   Chilly                   587211
         Freezing                   6331
         Hot                       86791
         Nice                     928572
Summer   Hot                     1347262
         Nice                     892664
Winter   Chilly                   215221
         Freezing                 258570
         Hot                        9536
Name: Total count, dtype: int64

Temperature category    Chilly  Freezing        Hot      Nice
Seasons
Autumn                775694.0   12035.0   170674.0  811498.0
Spring                587211.0    6331.0    86791.0  928572.0
Summer                     NaN       NaN  1347262.0  892664.0
Winter                215221.0  258570.0     9536.0       NaN

10) Определите сезон и температуру, при которых выдается наибольшее и наименьшее
количество велосипедов.

In [ ]:
grouped = bike_data_df.groupby(
    ["Seasons", "Temperature category"]
)["Total count"].sum()

max_value = grouped.max()
min_value = grouped.min()

max_combo = grouped[max_value]
min_combo = grouped[min_value]

print("Максимум:")
print(max_combo)

print("\nМинимум:")
print(min_combo)

Максимум:
Seasons  Temperature category
Summer   Hot                     1347262
Name: Total count, dtype: int64

Минимум:
Seasons  Temperature category
Spring   Freezing                6331
Name: Total count, dtype: int64